<section>
  <h2>Create a personal room</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Enter a password</label>
    <input type="password" name="password" id="room-pass" placeholder="Enter a password" />
    <button>
      <img src="./images/users_white.svg" alt="Enter room" />
      Create room
    </button>
  </form>
</section>
