<section>
    <h2>Enter as Asker</h2>
    <form action="GET">
        <label class="sr-only" for="room-code">Room Code</label>
        <input type="number" id="room-code" placeholder="Enter code...">
        <button>
            <img src="./images/log-in.svg" alt="Enter room"> 
            Join room
        </button>
    </form>
</section>
<div class="separator">
    <div></div>
    <div>or</div>
    <div></div>
</div>
<section>
    <h2>Create your room</h2>
    <a href="/create-pass" class="button outlined">
        <img src="./images/users.svg" alt="Create room"> 
        Create Room
    </a>
</section>