<div class="no-questions">
    <img src="/images/noquestions.svg" alt="No questions">
    <p>There are no questions in this room...</p>
    <p>Create your first question <br>and share the code with other people!</p>
</div>